body {
    margin: 0;
}
#main {
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
}
#header {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}
#top-header {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    padding-bottom: 10px;
    background-color: lightgreen;
}
#top-header #logo {
    min-width: 92px;
}
#top-header form {
    margin-left: 40px;
}
#search-bar-container {
    display: flex;
    align-items: center;
    width: 700px;
    height: 45px;
    background-color: orange;
    border: 1px solid #dfe1e5;
    border-radius: 24px;  
}
#search-bar-container #search-bar {
    width: 635px;
    margin-left: 18px;
    background-color: transparent;
    border: none;
}
#search-bar-container #magnifying-container {
    font-size: 0;
}
#search-bar-container #search-icon {
    width: 25px;
    height: auto;
    fill: rgb(66, 133, 244);
}
#right-icons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#bottom-header {
    margin: 0 375px 0 135px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    background-color: lightgoldenrodyellow;
    font-size: 13px;
}
#bottom-header ol {
    margin: 0;
    padding-left: 0;
    display: flex;
}
#bottom-header li {
    display: block;
}
.options {
    font-size: 13px;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 11px;
    border: 2px solid;
    text-decoration: none;
    background-color: white;
}
.all {
    color: rgb(26, 115, 232);
    border-bottom: 4px solid rgb(26, 115, 232);
}
#bottom-header svg {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    align-self: flex-start;
}
#left {
    display: flex;
    align-items: center;
    background-color: lightcoral;
}
#right {
    display: flex;
    align-items: center;
    background-color: goldenrod;
}
li {
    list-style: none;
    display: inline-block;
}